* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100vh;
  background-color: #bbbfc2;
}

i {
  margin-left: 24px;
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 1200px;
}

.main-content {
  display: flex;
  padding-top: 60px;
}

.nav-container {
  list-style-type: none;
  height: calc(100vh - 60px);
  width: 25%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#ebeced, #d1d5d6);
  -webkit-box-shadow: inset -11px 3px 58px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -11px 3px 58px -16px rgba(0,0,0,0.75);
  box-shadow: inset -5px 3px 58px -16px rgba(0,0,0,0.75);
}

.nav-container > li {
  border-bottom: 1px solid white;
  font-size:18px;
  position:relative;
  z-index:1;
  display:block;
  line-height:60px;
  height:60px;
  width:100%;
  color: #9ba0a4;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
}

.nav-container > li > .nav-link:link,
.nav-container > li > .nav-link:visited {
  color:#555;
  text-decoration:none;
  display:block;
  padding:0 1em;
  margin-right: 24px;
}

.nav-container > li:last-child {
  position:absolute;
  z-index:0;
  height:60px;
  width:100%;
  background:rgba(255, 255, 255, 1);
  top: 0;
  left:0px;
  transition:transform .3s;
}

.nav-container li.active .nav-link {
  color: #36abe1;
  font-weight: 600;
}

.nav-container li:nth-child(1).active ~ li:last-child {
  transform:translateY(0px);
}

.nav-container li:nth-child(2).active ~ li:last-child {
  transform:translateY(60px);
}

.nav-container li:nth-child(3).active ~ li:last-child {
  transform:translateY(120px);
}

.nav-container li:nth-child(4).active ~ li:last-child {
  transform:translateY(180px);
}

.nav-container li:nth-child(5).active ~ li:last-child {
  transform:translateY(240px);
}

.nav-container li:nth-child(6).active ~ li:last-child {
  transform:translateY(300px);
}

.nav-container li:nth-child(7).active ~ li:last-child {
  transform:translateY(360px);
}

.main-body {
  margin: 0 70px;
  height: 300px;
  width: 75%;
  overflow: hidden;
}

.content {
  position: relative;
  transition:transform .3s;
}

.section {
  height: 300px;
}

.section-header {
  display: flex;
}

.section-header i {
  margin: 0 10px 0 0;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-container .heading {
  font-size: 30px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #36abe1;
}

.heading-container .sub-heading {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #5c6366;
}

.section-body {
  margin-top: 24px;
}

.section-body p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #65686f;
  line-height: 18px;
}

.friends {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #65686f;
  margin-top: 40px;
}

.friends a {
  text-decoration: none;
  color: #36abe1;
}
